* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  max-width: 350px;
  width: 100%;
  text-align: center;
}

.login-box {
  background-color: #121212;
  border: 1px solid #333;
  padding: 40px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.logo {
  width: 175px;
  margin-bottom: 30px;
  filter: brightness(0) invert(1);
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  background-color: #1c1c1c;
  border: 1px solid #333;
  border-radius: 3px;
  color: white;
}

form input::placeholder {
  color: #aaa;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #0095f6;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #777;
  font-size: 13px;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #333;
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}

.fb-login {
  color: #3897f0;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
}

.forgot {
  font-size: 12px;
  color: #aaa;
  text-decoration: none;
}

.signup-box {
  background-color: #121212;
  border: 1px solid #333;
  padding: 20px;
  font-size: 14px;
  border-radius: 8px;
}

.signup-box a {
  color: #0095f6;
  text-decoration: none;
  font-weight: bold;
}

.get-app {
  margin-top: 20px;
}

.app-links img {
  height: 40px;
  margin: 5px;
  filter: brightness(0) invert(1);
}
